<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.unsw.infs3634.gamifiedlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyFinance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuizTopicSelection"></activity>
        <activity android:name=".FinancialGoalSettingQuiz" />
        <activity android:name=".FinancialGoalSettingQuizLanding" />
        <activity android:name=".SmartInvestingQuizLanding" />
        <activity android:name=".SmartInvestingQuiz" />
        <activity android:name=".FinancialGoalSetting" />
        <activity android:name=".SmartInvesting" />
        <activity android:name=".ProfileManagement" />
        <activity android:name=".SignUp" />
        <activity android:name=".HomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FinCalc" />
        <activity android:name=".CompoundCalc" />
        <activity android:name=".EmergencyCalc" />
        <activity android:name=".CCRepayCalc" />
        <activity android:name=".IrregularCalc" />
        <activity android:name=".CCRepayCalc_preface" />
        <activity android:name=".CompoundCalc_preface" />
        <activity android:name=".EmergencyCalc_preface" />
        <activity android:name=".IrregularCalc_preface" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>