<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.edu.unsw.infs3634.gamifiedlearning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FinCalc" />
        <activity android:name=".CompoundCalc" />
        <activity android:name=".EmergencyCalc" />
        <activity android:name=".CCRepayCalc" />
        <activity android:name=".IrregularCalc" />
        <activity android:name=".CCRepayCalc_preface" />
        <activity android:name=".CompoundCalc_preface" />
        <activity android:name=".EmergencyCalc_preface" />
        <activity android:name=".IrregularCalc_preface" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>